.bx-wrapper{
    border: none;
    box-shadow: none;
    margin: 0 auto 38px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 8px;
    height: 8px;
    background: rgba(43, 41, 45, 0.2);
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: rgba(49, 66, 197, 1);
}



@media screen and (max-width: 320px){
    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 12px;
        height: 12px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        margin: 0 9.5px;
    }
}