body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background: #F3C6BD;
    padding: 44px 0px 71px;
}

.container{
    max-width: 1140px;
    margin:  auto;
}
.container-1{
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-3{
    justify-content: start;
}

.flex-4{
    display: flex;
    justify-content: flex-start;
}

.flex-5{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}


.logo img{
margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D99;
}

.check{
    width: 18px;
    height: 2.17px;
    background-color: rgba(44, 50, 65, 0.6);
}

.check:not(:last-of-type){
    margin-bottom: 3.25px;
}

.checkbox, .check-wrapper{
    display: none;
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2B292D;
    text-decoration: none;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_li:hover{
    text-decoration: underline;
}

.header_link:hover{
    font-weight: bold;
}

.button-blue{
    height: 48px;
    width: 160px;
    border: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;  
    color: #FFFFFF;
    font-weight: 700;
}

.button-blue:hover{
    transition: 0.5s;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #222d97;
}

.button-white{
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    
    height: 48px;
    width: 160px;
    left: 0px;
    top: 0px;
    border-radius: 2px;
    border: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.button-white:hover{
    transition: 0.5s;
    cursor: pointer;
    background: #ebebeb;
}



.section-1{
    background-color: #F3C6BD;
    padding-bottom: 126px;
}
.s-1_div{
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.s-1_container > div:first-of-type{
    z-index: 1;
}

.s-1_container > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
}

.s-1_title{
    max-width: 754px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 34px;
}

.s-1_text{
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 58px;
}



.section-2{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}

.s-2_div{
    max-width: 555px;
}

.s-2_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.s-2_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color:  #2B292D;
}



.section-3{
    padding: 46px 0 0 ; 
}

.s-3{
    margin-bottom: 74px;
}
.logo-mod{
    display: none;
}
.section-4{
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 106px 0 103px;
}

.s-c_info_title0-green{
    color: #009B4D;
}

.s-4_info{
    max-width: 460px;
    padding: 20px 0 22px;
    
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}

.s-4_title{
    font-weight: 700;
    margin-left: 15px;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
    text-decoration: none;
    cursor: pointer;
}

.s-4_text{
    margin-top: 8px;
    max-width: 459px;
    height: 73px;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    display: none;
}

.s-4-color-title{
    color: #3040C4;
}

.s-4-color{
    fill: #3142C6;
    border-bottom: 3px solid #3040C4;
}



.s-4_text-2{
    margin-left: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;
    text-decoration: none;
}

.s-4_info:first-of-type:before{
    position: absolute;
    content: url(../OMG/section_9/img_9.svg);
    left: 0%;
}

.s-4_screen{
    position: absolute;
    top: 106px;
    right: 0px;
}





.section-5{
    background-color: rgba(252, 240, 227, 0.4);
    padding: 117px 0 116px;
}

.s-5_info{
    max-width: 519px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.s-5_info_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 28px;
}

.info_text-bold{
    font-weight: 700;
}

.s-5_info_omg{
    margin-right: 12px;
}

.s-5_info_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.s-5_info_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.s-c_info_title0{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.s-c_info_title0-orange{
    color: #F1592B;
}

.s-c_info_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 462px;
    margin-bottom: 26px;
}

.s-c_info_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 461px;
    margin-bottom: 44px;
}



.section-6{
    padding: 110px 0 105px;
}

.s-c_info_title0-blue{
    color: #0189D1;
}

.info-3{
    margin-top: 105px;
    max-width: 360px;
}
.info-1{
    margin-top: 105px;
    max-width: 360px;
}
.info-2{
    margin-top: 105px;
    max-width: 360px;
}

.s-6_text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}

.s-6_link{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
}



.section-7{
    background-color: rgba(0, 161, 198, 0.07);
    padding: 108px 0 110px;
}

.s-7_title0{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 24px;
}

.s-7_title{
    margin: auto;
    max-width: 555px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}

.s_4_text{ 
    margin: auto;
    max-width: 555px;
    font-size: 24px;
    line-height: 34px;  
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
}

.but-4{
    margin-right: 10px;
    margin-left: 10px;
}

.item{
    text-align: center;
    align-items: center;
    max-width: 262px;
    height: 300px;
    border-radius: 8px;
    perspective: 600px;
    transition: .5s;
    cursor: pointer;
}
.item .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}
.item:hover .front {
    transform: rotateX(-180deg);
}
.item .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3040C4;
    border-radius: 8px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
}
.item .back::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
  }
  .item:hover .back {
    transform: rotateX(0deg);
  }
  .back-item{
    margin-top: 50%;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: white;
  }




.s-7_omg{
    margin-top: 22px;
}

.omg-title{
    margin-top: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
}

.grid-2{
    margin-top: 111px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(1, 1fr);
}


.s-7_button{
    text-align: center;
}


.section-8{
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.s-8_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3142C6;
    margin-bottom: 28px;
}

.s-8_text{
    margin: auto;
    max-width: 750px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
}

.s-8_person-1{
    margin: auto;
    max-width: 225px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2B292D;
}

.s-8_person-2{
    margin: auto;
    max-width: 225px;
    font-size: 16px;
    line-height: 24px;
    color: #2B292D;
    text-align: center;
}
.s-8_omg{
    position: absolute;
    right: 0px;
    bottom: -39px;
}


.section-9{
    padding: 106px 0 90px;
}

.title-9{
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 20px;
}

.text-9{
    margin: auto;
    max-width: 555px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 28px;
}

.button-big{
    margin: auto;
    height: 48px;
    width: 247px;
    border: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;  
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 63px;
}

.button-big:hover{
    transition: 0.5s;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #222d97;
}

.about-items{
    max-width: 750px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 2px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}

.about-text{
    margin-top: 3px;
    max-width: 410px;
    font-size: 18px;
    line-height: 26px;
    display: none;
}

.about-title{
    width: 408px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;

}

.about-rotate-icon{
    transform: rotate(90deg);
    transition: 300ms;
}

.change-color{
    color: white;
    background-color: #3141C5;
    border: 2px solid #3141C5;
    transition: 300ms;
}

.about-loc{
    Width: 232px;
    font-size: 18px;
    line-height: 24px;
}
.about-loc-mod{
    display: none;
}




.s-10-0_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}

.s-10-0_text{
    margin: auto;
    max-width: 554px;
    margin-top: 26px;
    margin-bottom: 96px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
}



.section-10{
    padding: 0 0 90px;
    text-align: center;
}

.grid-3{
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.OMG:nth-child(3), .OMG:nth-child(4){
    grid-row: span 2;
}

.OMG{
    width: 100%;
    height: 100%;
}

.section-11{
    padding: 73px 0 72px;
    background-color: #F4F5F7;
}

.s-11_omg{
    margin-left: 98px;
}

.s-11_info{
    max-width: 555px;
    margin-right: 102px;
}

.s-11_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    margin-bottom: 12px;
}

.s-11_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 26px;
}

.emeil{
    box-sizing: border-box;
    width: 385px;
    padding: 17px 0 18px 15px;
    background: #FFFFFF;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
}

.emeil::placeholder{
    font-size: 18px;
    line-height: 13px;
    color: #2B292D;
}

.button-email{
    height: 48px;
    width: 160px;
    border: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;  
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 10px;
}

.button-email:hover{
    transition: 0.5s;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #222d97;
}

.s-11_info-2{
    margin-top: 10px;
}

.checkbox-text{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.checkbox-fake{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;  
    position: relative; 
    z-index: 1;    
}
.checkbox-fake::before{
    content: '';
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #3040C4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.checkbox-email{
    opacity: 0;
    z-index: 0;
}
.checkbox-email:checked ~ .checkbox-fake::before{
    opacity: 1;
    transition: 300ms;
}


.section-12{
    padding: 139px 0 47px;
}

.s-12_info-1{
    margin-top: 26px;
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 25px;
}

.s-12_app{
    margin-left: 10px;
}

.s-12_items{
    align-items: flex-start;
}

.s-12_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 18px;
}

.s-12_text{
    text-align: left;
    max-width: 265px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}
.f-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D99;
}



.footer{
    padding: 0 0 52px;
}

.footer-text{
    max-width: 180px;
}

.footer-title{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.f_omg{
    margin-left: 10px;
    margin-right: 10px;
}



.line{
    border-color: rgba(43, 41, 45, 0.1);
}

.line-mod{
    display: none;
    position: absolute;
    left: 15px;
    width: 150px;
    border-color: rgba(43, 41, 45, 0.1);
}
.line-f{
    display: none;
    border-color: rgba(43, 41, 45, 0.1);
}

.modal-overlay{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-2{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-2{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-2{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-3{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-3{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-3{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-4{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-4{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-4{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-5{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-5{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-5{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-6{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-6{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-6{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.modal-overlay-7{
    display: none;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.modal-7{
    max-width: 550px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close-7{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

#up{
    display: none;
    position: fixed;
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-weight: 700;
    bottom: 50px;
    right: 50px;
    background-color:rgba(49, 65, 197, 0.5);
    color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
#up span{
    width: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;

}

@media screen and (max-width: 1200px){
    .container{
        max-width: 1040px;
    }
    .header_ul{
        margin-right: 50px;
    }
}



@media screen and (max-width: 1090px){
    
    *{
        margin: 0;
        padding: 0;
    }

    .container{
        max-width: 750px;
    }
    .container-1{
        max-width: 1090px;
    }

    .flex-mod-1{
        flex-direction: column;
    }

    .flex-mod-2{
        flex-direction: column-reverse;
    }

    .header{
        padding: 31px 0 25px;
    }

    .checkbox, .check-wrapper{
        display: block;
    }

    .menu{
        position: relative;
    }

    .check{
        transition: 300ms;
    }

    .checkbox{
        position: absolute;
        width: 18px;
        height: 18px;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 4;
    }

    .check-wrapper{
        position: relative;
        z-index: 3;
    }

    .checkbox:checked ~ .check-wrapper > .check:first-of-type{
        transform: rotate(45deg) translate(6px, 5px);
    }

    .checkbox:checked ~ .check-wrapper > .check:nth-of-type(2){
        opacity: 0;
    }

    .checkbox:checked ~ .check-wrapper > .check:last-of-type{
        transform: rotate(-45deg) translate(2px, -1px);
    }

    .checkbox:checked ~ .header_nav{
        display: block;
        position: fixed;
        background-color: rgba(243, 198, 189, 1);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        margin: auto; 
        padding-top: 40px;
        z-index: 2;
    }

    .header_li:not(:last-of-type) {
        margin-right: 0px;
    }

    .header_ul{
        margin-right: 0;
    }
    .header_li{
        margin-bottom: 30px;
    }
    .flex-menu{
        flex-direction: column;
    }    
    .logo_text{
        display: none;
    }
    .header_nav{
        display: none;
    }
    .section-1{
        padding: 0px 0px 349px;
    }
    .s-1_title{
        max-width: 525px;
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 15px;
    }
    .s-1_text{
        max-width: 355px;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .s-1_omg{
        position: absolute;
        max-width: 620px;
        top: 153px;
        right: 217px;
    }
    .section-2{
        padding: 30px 0 4px;
    }
    .s-2_title{
        margin-bottom: 10px;
    }
    .s-2_text{
        max-width: 432px;
        height: 98.8px;
        font-size: 22px;
        line-height: 32px;
    }
    .s-2_div{
        margin-bottom: 30px;
    }


   
    .section-3{
        padding: 25px 0 0;
    }
    .s-3{
        margin-bottom: 0;
    }
    .grid-mod{
        display: grid;
        grid-template-rows: repeat(2, 3fr);
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .section-4{
        padding: 41px 0 67px;
    }
    .s-4_div{
        text-align: start;
    }
    .s-4_screen{
        position:static;
        max-width: 538px;
        margin-top: 49px;
        margin-right: 101px;
    }
    .section-5{
        padding: 56px 0 69px;
    }
    .s-c_info{
        text-align: center;
    }
    .s-c_info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
    }
    .s-c_info_text{
        max-width: 429px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
    }
    .s-5_info{
        margin: 0 auto 75px;
        text-align: start;
    }


    .section-6{
        padding: 73px 0 38px;
    }
    .s-6_title-mod{
        max-width: 318px;
    }
    .s-c_omg{
        margin-top: 37px;
    }
   
    .info-2{
        display: none;
    }
    .info-3{
        display: none;
    }

    .info-1{
        margin-top: 38px;
        text-align: center;
    }
    

    .s-6_text{
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    .section-7{
        padding: 50px 0 79px;
    }
    .grid-2{
        grid-template-columns: repeat(2, 262px);
        grid-template-rows: repeat(2, 300px);
        gap: 38px;
        align-items: center;
    }
    .section-8{
        padding: 87px 0 0;
        max-width: 1090px;

    }
    .s-8_title{
        max-width: 573px;
        margin: 0 auto 14px;
    }
    .s-8_text{
        max-width: 583px;
        height: 102px;
        margin-bottom: 34px;
    }
    .s-8_person-1{
        max-width: 175px;
    }
    .s-8_person-2{
        max-width: 175px;
    }
    .s8-omg{
        margin-top: 51px;
        text-align: center;
    }
    .s-8_omg{
        position:static ;
        bottom: 0%;

    }
    .section-9{
        padding: 87px 0 113px;
    }


    .section-10-0{
        padding: 0 0 113px;
    }
    .s-10-0_title{
        font-size: 48px;
        line-height: 56px;
    }
    .s-10-0_text{
        max-width: 399px;
        font-size: 20px;
        line-height: 34px;
    }

    .grid-3{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4 1fr);
        gap: 29px 45px;

    }
    .OMG:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .OMG:nth-child(4){
        grid-row: 2/4;
    }
    .OMG:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .OMG:nth-child(7){
        display: none;
    }
    .section-11{
        padding: 76px 0 62px;
    }
    .s-11_info{
        text-align: center;
        margin: 0;
    }
    .s-11_title{
        margin: 0 auto 51px; 
        max-width: 325px;
        font-size: 48px;
        line-height: 40px;
    }
    .emeil{
        box-sizing: border-box;
        width: 290px;
        padding: 16px 65px 17px;
    }
    .button-email{
        width: 290px;
        height: 50px;
    }
    .s-11_info-2{
        margin: 0 auto 21px;
        max-width: 431px;
        text-align: start;
        font-size: 14px;
        line-height: 22px;
    }
    .s-11_omg{
        margin: 13px auto 0;
    }
    .s-11-img{
        max-width: 282px;
        width: 100%;
    }
    .checkbox-fake{
        margin-right: 20px;
        width: 24px;
        height: 18px;
    }
    .section-12{
        padding: 48px 0 0 ;
    }
    .s-12_logo{
        text-align: center;
        margin: 0 auto;
    }
    .s-12_omg{
        margin: 0 auto;
        max-width: 60px;
        text-align: center;
    }
    .s-12_info-1{
        display: none;
    }
    .logo_title{
        margin-top: 20px;
    }
    .f-text{
        margin-bottom: 31px;
    }
    .s-12_app{
        margin: 0 23px 32px;
    }
    .s-12_items{
        margin: 0 auto 25px;
        width: 265px;
    }
    .line{
        display: none;
    }
    .footer-text{
        text-align: start;
        margin-right:  143px;
        margin-bottom: 28px;
    }
    .footer-sociale{
        margin: 0px;
        text-align: start;
        margin-right:  131px;
    }
    .f_omg{
        margin-right: 24px;
    }


}


@media screen and (max-width: 800px){
    
    .container{
        max-width: 500px;
    }
    .s-10_OMG{
        max-width: 290px;
    }

}


@media screen and (max-width: 550px){
   
    .container{
        max-width: 430px;
    }
    .flex-mod-550{
        flex-direction: column;
    }
    .section-1{
        padding: 0 0 50px;
    }
    .s-1_omg{
        margin-top: 50px;
        position: static;
        max-width: 460px;
        z-index: 1;
    }
    .s-1_container > div:last-of-type{
        position: static;
        top: 0px;
        right: 0px;
    }
    .s-4_info:first-of-type:before{
        display: none;
    }
    .grid-2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
    }
    .item {
        max-width: 290px;
        height: 300px;
    }
    .grid-3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }
    .OMG:nth-child(2){
        display: none;
    }
    .OMG:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .OMG:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .s-10_OMG{
        max-width: 290px;
    }
    .button-email {
        width: 230px;
        height: 50px;
    }
}


@media screen and (max-width: 480px){
    .container{
        max-width: 310px;
    }
    .flex-2{
        flex-direction: column;
    }
    .s-1_omg{
        margin-top: 33px;
        max-width: 360px;
    }
    .s-3_omg{
        display: none;
    }
    .logo-mod{
        display: block;
        max-width: 107px;
        width: 100%;
       
    }
    .s-11_text{
        max-width: 290px;
        height: 167px;
        margin: 0 auto 40px;
        text-align: start;
    }
    .button-email{
        width: 290px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .but-11{
        margin-bottom: 12px;
    }
    .checkbox-fake{
        margin-right: 20px;
        width: 36px;
        height: 18px;
    }
}


@media screen and (max-width: 320px){
    
    .container{
        max-width: 290px;
    }
    .flex-2{
        flex-direction: column;
    }
    .flex-mod-2{
        flex-direction: column;
    }
    .flex-mod-3{
        flex-direction: column;
    }

    .button-blue{
        width: 290px;
        height: 48px;
        left: 15px;
        top: 530px;

    }
    .button-white{
        width: 290px;
        height: 48px;
        left: 15px;
        top: 530px;
    }
    
    .header{
        background: #FFFFFF;
        padding: 8px 0 ;
    }

    .checkbox, .check-wrapper{
        display: block;
    }

    .menu{
        position: relative;
    }

    .check{
        transition: 300ms;
    }

    .checkbox{
        position: absolute;
        width: 18px;
        height: 18px;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 5;
    }

    .check-wrapper{
        position: relative;
        z-index: 4;
    }

    .checkbox:checked ~ .check-wrapper > .check:first-of-type{
        transform: rotate(45deg) translate(6px, 5px);
    }

    .checkbox:checked ~ .check-wrapper > .check:nth-of-type(2){
        opacity: 0;
    }

    .checkbox:checked ~ .check-wrapper > .check:last-of-type{
        transform: rotate(-45deg) translate(2px, -1px);
    }

    .checkbox:checked ~ .header_nav{
        display: block;
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;   
        padding-top: 40px;
        z-index: 3;
    }

    .header_li:not(:last-of-type) {
        margin-right: 0px;
    }

    .header_li{
        margin-bottom: 30px;
    }
 
    .flex-menu{
        flex-direction: column;
    }    

    .logo img{
        margin-right: 13px;
    }

    .section-1{
        padding: 35px 0 36px;
    }
    .s-1_title{
        max-width: 290px;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 24px;
    }
    .s-1_text{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }
    .but-1{
        margin-bottom: 15px;
    }
    .s-1_omg{
        margin-top: 33px;
        max-width: 290px;
    }

    .section-2{
        padding: 46px 0 ;    
    }
    .s-2_text{
        font-size: 22px;
        line-height: 32px;
    }
    .s-2_div{
        margin-bottom: 20px;
        height: 180px;
    }
    .section-3{
        padding: 0px;
    }
    .s-3_omg{
        display: none;
    }
    .logo-mod{
        display: block;
        max-width: 107px;
        width: 100%;
       
    }


    .section-4{
        padding: 49px 0 44px;
    }
    .s-4_info::before{
        display: none;
    }
    .s-4_title{
        font-size: 16px;
        line-height: 26px;
    }
    .s-4_text{
        font-size: 16px;
        line-height: 26px;
    }
    .s-4_omg{
        max-width: 21px;
    }
    .s-4_text-2{
        font-size: 16px;
        line-height: 26px;
    }
    .s-4_screen{
        margin-right: 0;    
        align-items: center;
        margin-top: 17px;
        max-width: 290px;
    }
    .section-5{
        padding: 50px 0 48px;
    }
    .s-c_omg{
        margin-bottom: 32px;
    }
    .s-c_omg_1{
        max-width: 290px;
        width: 100%;
    }
    .s-c_info{
        max-width: 290px;
        text-align: start;
    }
    .s-c_info_title0{
        margin-bottom: 17px;
    }
    .s-c_info_title{
        max-width: 290px;
        font-size: 40px;
        line-height: 40px;
    }
    .s-c_info_text{
        font-size: 24px;
        line-height: 34px;
    }
    .s-5_info{
        padding: 30px 20px;
    }
    .s-5_info_text{
        font-size: 20px;
        line-height: 28px;
    }
    .section-6{
        padding: 53px 0;
    }
    .s-6_omg{
        max-width: 290px;
    }
    .s-c_omg{
        margin: 40px 0 79px;
    }
    .line-mod{
        display: block;
        background: rgba(0, 0, 0, 0.1);
    }
    .s-6_text{
        text-align: start;
    }
    .info-1{
        margin-top: 33px;
    }
    .info-2{
        margin-top: 33px;
        display: block;
    }
    .info-3{
        margin-top: 33px;
        display: block;
    }
    .section-7{
        padding: 50px 0;
    }
    .s-7_title{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .but-4{
        margin: 0;
    }
    .but-2{
        margin-bottom: 12px;
    }
    .grid-2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
    }
    .item{
        max-width: 290px;
        height: 300px;
    }
    .s-7_omg{
        max-width: 290px;

    }
    .section-8{
        padding: 53px 0 413px;
    }
    .s-8_title{
        max-width: 290px;
        font-size: 24px;
        line-height: 30px;
        text-align: start;
        margin-bottom: 29px;
    }
    .s-8_text{
        max-width: 290px;
        height: 307px;
        font-size: 24px;
        line-height: 34px;
        text-align: start;
        margin-bottom: 32px;
    }
    .s-8_person-1{
        text-align: start;
        margin: 0;
    }
    .s-8_person-2{
        text-align: start;
        margin: 0 0 40px;
    }
    .s-8_omg{
        max-width: 290px;
        width: 100%;
        right: 15px;
        top: 8020px;
    }
    .section-9{
        padding: 0;
    }
    .title-9{
        max-width: 290px;
        font-size: 40px;
        line-height: 40px;
    }
    .button-big{
        width: 290px;
        height: 48px;
        margin-bottom: 35px;
    }
    .change-color{
        color: white;
        background-color: #3141C5;
        border: 2px solid #3141C5;
        transition: 300ms;
    }
    .about-items{
        max-width: 290px;
        border: 2px solid rgba(43, 41, 45, 0.2);
        border-right: 50px solid rgba(43, 41, 45, 0.2);
    }
    .about-title{
        max-width: 200px;
    }
    .about-loc{
        display: none;
    }
    .about-loc-mod{
        display: block;
        Width: 232px;
        color: rgba(43, 41, 45, 0.6);
        padding: 7px 0px 19px;
        margin-left: 29px;
    }
    .about-icon{
        font-weight: 700;
        color: rgba(44, 50, 65, 0.6);
        margin-left: 287px;
    }









    .section-10-0{
        padding: 76px 0 25px;
    }
    .s-10-0_title{
        max-width: 326px;
        height: 48px;
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 75px;
    }
    .s-10-0_text{
        max-width: 303px;
        font-size: 24px;
        line-height: 34px;
    }
    .grid-3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }
    .OMG:nth-child(2){
        display: none;
    }
    .OMG:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .OMG:nth-child(4){
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .s-10_OMG{
        max-width: 290px;
    }

    .section-11{
        padding: 50px 0;
    }
    .s-11_omg{
        margin: 0 auto 40px;
    }
    .s-11_title{
        max-width: 290px;
        font-size: 48px;
        line-height: 40px;
        text-align: start;
    }
    .s-11_text{
        max-width: 290px;
        height: 167px;
        margin: 0 auto 40px;
        text-align: start;
    }
    .button-email{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .but-11{
        margin-bottom: 12px;
    }
    .checkbox-fake{
        margin-right: 20px;
        width: 36px;
        height: 18px;
    }
    .section-12{
        padding: 40px 0 0;
    }
    .s-12_app{
        margin: 0px 0px 40px;
    }
    .line-f{
        position: absolute;
        display: block;
        width: 321px;
        left: 0px;
        
    }
    .s-12_items{
        margin: 0 0 30px;
    }
    .s-12_title{
        margin-top: 30px;
    }
    .footer{
        padding: 0 0 25px;
    }
    .footer-text{
        margin: 0px 138px 31px 0;
    }
    .footer-sociale{
        margin: 0px 146px 0px 0px;
    }


    .line{
        display: none;
    }
    .line-top{
        display: none;
    }
}